/*--Global style--*/
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Fredoka:wght@300&display=swap');

body {
    background-color: #780000;
    font-family: 'Abel', sans-serif;
}

/*--Heading--*/

.heading {
    text-align: center;
    font-size: 250%;
}

/*--Quiz layout--*/

#welcome-area {
    background-color: #ffe082;
    border: 2px solid black;
    margin: 3%;
    box-sizing: border-box;
    max-width: 100%;
    max-height: 100%;
    padding: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#quiz-area {
    display: none;
    background-color: #ffe082;
    border: 2px solid black;
    margin: 3%;
    box-sizing: border-box;
    max-width: 100%;
    max-height: 100%;
    padding: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#result-area {
    display: none;
    background-color: #ffe082;
    border: 2px solid black;
    margin: 50px;
    box-sizing: border-box;
    max-width: 100%;
    max-height: 100%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#quiz-question > h2 {
    text-align: center;
    font-size: 200%;
    margin: 3%;
}

#quiz-question > p, #quiz-score > p {
    text-align: center;
    padding: 10%;
    margin: 3%;
    font-size: 200%;
}

#final-result > h2 {
    text-align: center;
    font-size: 200%;
    margin: 3%;
}

#final-result > p {
    text-align: center;
    padding: 10%;
    margin: 3%;
    font-size: 200%;
}


/*--Buttons--*/

#start-button {
    max-width: 100%;
    border-radius: 10px;
    font-size: 160%;
}


#answer-div {
    display: grid;
    grid-template-columns: 350% 350%;
    grid-template-rows: 80px 80px;
    column-gap: 10%;
    row-gap: 10%;
    justify-items: center;
    justify-content: space-around;
    align-content: center;
}

#answer-a, #answer-b {
    max-width: 100%;
    padding: 0% 25% 0% 25%;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 20% 80%;
    border-radius: 10px;
}

#answer-c, #answer-d {
    max-width: 100%;
    padding: 0% 25% 0% 25%;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 20% 80%;
    border-radius: 10px;
}

#play-again {
    max-width: 100%;
    border-radius: 10px;
    font-size: 160%;
}