/*--Global style--*/
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Fredoka:wght@300&display=swap');

body {
    background-color: #780000;
    font-family: 'Abel', sans-serif;
}

/*--Heading--*/

.heading {
    text-align: center;
    font-size: 250%;
}

/*--Quiz layout--*/

#container-div {

}

/*--Buttons--/
